.homeBlock {
    height: 100vh;
    background-color: #fff8eb;
}

.homeContainer {
    align-items: center;
    justify-content: space-between;
}

.text {
    min-width: 330px;
    background-color: #ddf3ff;
}

.photo {
    min-width: 330px;
    height: 450px;
    background-color: #ddf3ff;
}