@import "../Common/Styles/Sass/Variables.scss";
@import "../Common/Styles/Sass/mixins.scss";

.homeBlock {

  background-color: $primaryColor;
padding-bottom: 10vh ;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }

  .homeContainer {

    align-items: center;
    justify-content: space-around;
    background-color: $primaryColor;
    padding-right: 5vw;
    min-height: 100vh;

    .text {
      max-width: 550px;
      text-transform: uppercase;
      position: relative;

      .hi {
        text-transform: capitalize;
      }

      & h1 {
        @include h4($bgSecondColor);

        font-size: 16px;
        line-height: 1.75em;
        font-weight: 500;
        letter-spacing: .15em;


      }

      & h2 {
        @include h3($bgSecondColor);
        margin: 20% 0 10%;

      }

      & h3 {
        @include h2($bgSecondColor);
        margin-top: 35px;
      }
    }

    .photo {

      height: 450px;
      min-width: 300px;
padding: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      position: relative;



    }
  }
}






