@import "../Common/Styles/Sass/Variables.scss";
@import "../Common/Styles/Sass/mixins.scss";


.skillsBlock {

    background-color: $bgSecondColor;

    .skillsContainer {
        max-width: 1400px;
        width: 100%;

        .header {
            padding: 7vh 0 4vh 10px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        .skills {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
}








