@import "../../Common/Styles/Sass/Variables";
@import "../../Common/Styles/Sass/mixins";

.projectBlock {
    width: 400px;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    padding: 7px;

    .icon {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-color: $textColor;
            opacity: 0.01;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media screen and (max-width: 450px) {
            height: 310px;
        }
    }

    .projectInfo{
        padding: 10px 0;
        .projectTitle{
            @include h5($textColor);
            text-transform: uppercase;
            padding: 10px 0;


        }

        .description {
            @include text(13px, 28px, 300, $textSecondColor);
            position: relative;
            display: inline-block;
            vertical-align: middle;
            float: left;
            padding: 0 14px 0 0;
            margin: 0 9px 0 0;
            letter-spacing: .05em;
            z-index: 8;


        }
    }
    @media screen and (max-width: 450px) {
        width: 310px;
    }
}










