@import "../../Styles/Sass/mixins.scss";
@import "../../Styles/Sass/Variables.scss";


.nav {
    border-bottom: 1px solid #fff;
    padding: 20px 8% 0px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    float: right;
    height: 100%;

    .text {
        @include text (14px, 25px, 400, $bgSecondColor);

        text-decoration: none;
        padding: 0 20px;
    }
}