@import "../Common/Styles/Sass/Variables.scss";
@import "../Common/Styles/Sass/mixins.scss";


.projectsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 0 7% 1%;

  .projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .header {
      margin-bottom: 5vh;
    }

    .projects {
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;

      @media screen and (max-width: 999px) {
        justify-content: center;
      }
          }
  }
}



