.projectsBlock {
    min-height: 100vh;
    background-color: lightgray;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    margin-bottom: 5vh;
}

.title {
    background-color: rgba(19,19,19,0.43);

}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
